<!--
<div class="article-box">
  <div class="article-wrapper">
    <div class="article" [routerLink]="['/topic']">
      <div class="article-publication-meta">
        <strong>JAVASCRIPT</strong>
        <span class="time">
          2019 · 9 · 24
        </span>
      </div>
      <div class="article-title">
        我是一个文章的超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长标题
      </div>
      <div class="article-content">
        <p>
          我是一个文章的内容超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长标题
          我是一个文章的内容超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长标题
          我是一个文章的内容超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长标题
          我是一个文章的内容超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长标题
          我是一个文章的内容超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长超长标题
          文章内容...
        </p>
      </div>
    </div>
  </div>
  <div class="article-bg">
    <div class="article-bg-left"></div>
    <div class="article-bg-right"></div>
  </div>
</div> -->
<div *appShape="shapeData">
</div>
