@import 'src/styles/variables.scss';
:host {
  .article {
    cursor: pointer;
    &-publication-meta {
      font-size: 12px;
      color: $sub-text-color;
      .time {
        margin-left: 10px;
      }
    }
    &-title {
      font-size: 18px;
      margin: 10px 0;
    }
    &-content {
      text-align: justify;
    }
    &:focus {
      outline: none;
    }
  }
}
:host ::ng-deep {
  .material-icons {
    color: $icon-color;
    vertical-align: -0.175rem;
    font-size: 18px;
  }
}
