@import 'src/styles/variables.scss';

$topic-width: 250px;
$topic-height: 350px;

:host {
  .article {
    width: 250px;
    height: 350px;
    overflow: hidden;
    background: #17141d;
    border-radius: 15px;
    padding: 20px;
    box-shadow: -15px 0 45px $box-shadow-color;
    transition: all 0.2s;
    position: relative;
    user-select: none;
    &-recent {
      display: flex;
      padding: 30px;
      background: rgb(255 255 255 / 0.3);
      border-radius: 10px;
      position: relative;
      &::before {
        content: '最近文章';
        position: absolute;
      }
    }
    &:not(:first-child) {
      margin-left: -140px;
    }
    &:hover {
      transform: translateY(-15px);
    }

    &-publication-meta {
      font-size: 12px;
      .time {
        color: $sub-text-color;
      }
    }

    &-title {
      margin: 20px 0;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        @include color-background();
      }
    }

    &-content {
      color: $content-color;
    }

    &-footer {
      position: absolute;
      bottom: 20px;
      color: $sub-text-color;
      strong {
        display: block;
      }
    }
  }
  // 后面所有的article标签 + 是一个
  .article:focus ~ .article, .article:hover ~ .article {
    transform: translateX(130px);
  }

  .article-box {
    display: flex;
    flex-direction: column;
  }

  .header-card {
    background-image: linear-gradient(0deg, #ff8a00, #e52e71);
    position: relative;
    border-radius: 16px;
    padding: 12px;
    display: flex !important;
    justify-content: flex-end;
    flex-direction: column;
    flex: 0 0 250px;
    display: block;
    margin-right: 30px;
  }
}

