@import 'src/styles/variables.scss';

$topic-width: 250px;
$topic-height: 350px;

:host {
  .article {
    width: 250px;
    height: 350px;
    overflow: hidden;
    background: #8d8282;
    border-radius: 15px;
    padding: 15px;
    box-shadow:
      -80px 5px 160px rgba(0, 0, 0, 0.3),
      -80px 5px 160px rgba(0, 0, 0, 0.3) inset;

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(31, 140px); // 最大31天
    }
  }
}
