
:host {
  background-color: #fff;
  animation-duration: .5s;
  animation-fill-mode: both;
  position: fixed;
  z-index: 10;
  top: 0;
  display: block;
  width: 100%;
  height: 70px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  line-height: 70px;
  .layout-header {
    max-width: 1024px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
:host ::ng-deep {
  /* tab style */
  .mat-tab-nav-bar {
    border-bottom: none;
    .mat-tab-link {
      height: 70px;
      font-size: 16px;
    }
  }
}
