$color1: #dff0ea;
$color2: #95adbe;
$color3: #574f7d;
$color4: #4f3a65;
/*
$color1: #bad7df;
$color2: #ffe2e2;
$color3: #f6f6f6;
$color4: #99ddcc;*/

$primary-color: $color1;
$tip-color: $color4;
$icon-color: $color4;
$text-color: $color2;
$sub-text-color: $color2;
