@import 'src/styles/variables.scss';

.mask-1 {
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    width: 80px;
    height: 80px;
    @include background;
  }
  .example-1 {
    mask-image:  url("../../../../assets/images/svg/蝴蝶结.svg");
  }
  .example-2 {
    mask-image: cross-fade(url("../../../../assets/images/svg/糖葫芦.svg"), url("../../../../assets/images/svg/蝴蝶结.svg"), 40%);
    -webkit-mask-image: -webkit-cross-fade(url("../../../../assets/images/svg/糖葫芦.svg"), url("../../../../assets/images/svg/蝴蝶结.svg"), 40%);
  }
  .example-3 {
    mask-image: repeating-radial-gradient(rgba(white, 0) 4px, rgba(white, 1) 10px, rgba(white,1) 12px)
  }
  .example-4 {
    mask-image:  url("../../../../assets/images/svg/蝴蝶结.svg");
    mask-size: 20px;
    mask-position: center;
  }
}