<div id="showCss">
    <ng-container *ngFor="let item of codes | keyvalue">
      <div class="my-divider"> {{ item.value.title }} </div>
      <div class="effect-modules">
        <div class="effect-module" *ngFor="let component of item.value.components">            
            <div class="effect-content">
                <div class="effect-show">
                    <ng-container effectTag [component]="component">
                    </ng-container>
                </div>
                <div class="effect-title">{{ component.title }}</div>
            </div>
        </div>
      </div>
   </ng-container>
</div>


