<div class="footer">
  <span class="text">xhl © 2019</span>
  <div >
    <div class="bubble bubble0"></div>
    <div class="bubble bubble1"></div>
    <div class="bubble bubble2"></div>
    <div class="bubble bubble3"></div>
    <div class="bubble bubble4"></div>
    <div class="bubble bubble5"></div>
    <div class="bubble bubble6"></div>
    <div class="bubble bubble7"></div>
    <div class="jellyfish jellyfish1">
      <div class="jellyfish_head"></div>
      <div class="jellyfish_tail">
        <div class="jellyfish_tail_in"></div>
      </div>
    </div>
    <div class="jellyfish jellyfish2">
      <div class="jellyfish_head"></div>
      <div class="jellyfish_tail">
        <div class="jellyfish_tail_in"></div>
      </div>
    </div>
  </div>
</div>
